/*Colores*/
$color-primary: #1c0055;
$color-secondary: #cc2f00;


/*FUENTES*/
$font-family-global: arial;
$font-family-title: verdana;
$font-family-alternative: roboto;

$font-size-base: 64.5%;
$font-size-body: 1.3rem;
$font-size-h1: 2.4rem;
$font-size-h2: 1.8rem; 
$font-size-h3: 1.6rem; 
$font-size-h4: 1.4rem; 
$font-size-h5: 1.3rem; 
$font-size-h6: 1.2rem; 

html{
    font-size: $font-size-base;
}

body{
    font-size: $font-size-body;
    font-family: $font-family-global;
}

a {
    text-decoration:none;
}

/*
header
*/
$header-padding: 20px;
$header-logo-font-size:1.6rem;

.header{
    padding:$header-padding;
    background: $color-primary;
    display: flex;
}

